body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}

.topside {
  background-image: url("G:/coding projects/broadway/resources/images/flatironbldg.png");
  color: white;
  font-weight: bold;
}

.link {
  color: white;
  font-weight: bold;
}

.footer {
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
